<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="layout :: page">
<head>
    <meta charset="utf-8"/>
    <title>Carepoint - Index</title>
</head>
<body>
<div th:fragment="content">
    <style>
        #background {
            position: fixed;
            top:0;
            height: 100%;
            width: 100%;
            left: 0;
            background: url('img/home.jpg') no-repeat center center fixed;
            background-size: cover;
        }
        .jumbotron {
            z-index: 10;
            position: relative;
            background-color: rgba(255,255,255,.9);
        }
    </style>
    <div id="background"></div>
    <div class="jumbotron" style="margin-top:40px">
        <h1>Carepoint</h1>
        <p>La plataforma de cuidado, comunicación eficiente en beneficio del paciente.</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/gallery}" role="button">Regístrese como cuidador</a></p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/gallery}" role="button">O como paciente</a></p>
    </div>
</div>
</body>
</html>